.cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: wheat;
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: none;
}

.outer {
  width: 30px;
  height: 30px;
  border: 3px blue solid;
  background: transparent;
  transition: 100ms ease-in;
}
